<% var pageType = apiData.pageType %>
<% var cssPath = '../dist_ejs/'+ pageType+'.css.ejs' %>
<% var jsPath = '../dist_ejs/'+ pageType+'.js.ejs' %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title><%= title %></title>
    <meta content="<%= keywords %>" name="Keywords">
    <meta content="<%= description %>" name="Description">
    <%- include(cssPath) %>
</head>
<body>
<div id="root"><%- html %></div>
</body>
<script>
    window.__PRELOADED_STATE__ = <%- JSON.stringify(apiData)%>
</script>
<script src="//unpkg.com/react@16.13.1/umd/react.production.min.js"></script>
<script src="//unpkg.com/react-dom@16.13.1/umd/react-dom.production.min.js"></script>
<%- include(jsPath) %>
</html>
